server:
  port: ${GATEWAY_SERVICE_PORT:8080}

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: resource-service
              uri: lb://resource-service
              predicates:
                - Path=/resources/**
              filters:
                - StripPrefix=0
            - id: song-service
              uri: lb://song-service
              predicates:
                 - Path=/songs/**
              filters:
                - StripPrefix=0

eureka:
  instance:
    prefer-ip-address: ${EUREKA_PREFER_IP:true}
    instance-id: ${spring.application.name}:${server.port}
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka}
    registry-fetch-interval-seconds: ${FETCH_INTERVAL:5}